<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="false">

  <appender name="errors" type="log4net.Appender.RollingFileAppender, log4net">
    <file value="Logs/log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyy-MM-dd" />
    <layout type="log4net.Layout.PatternLayout, log4net">
      <conversionPattern value="%date [%thread] %-5level %logger - %exception%newline" />
    </layout>
  </appender>
  <root>
    <level value="ERROR" />
    <appender-ref ref="errors" />
  </root>

	<!--
  <appender name="nhSql" type="log4net.Appender.FileAppender, log4net">
		<file value="Logs/nhSql.txt" />
    <appendToFile value="true" />
    <layout type="log4net.Layout.PatternLayout, log4net">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>
  <logger name="NHibernate.SQL" additivity="false">
    <level value="ALL" />
    <appender-ref ref="nhSql" />
  </logger>
	-->

</log4net>