<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

	<configSections>
		<section name="interfaceStyle" type="System.Configuration.NameValueSectionHandler" />
	</configSections>

	<interfaceStyle>
		<add key="Default" value="默认" />
		<add key="Windows" value="Windows" />
	</interfaceStyle>

	<appSettings>
    <add key="log4net.config" value="~/log4net.config" />
    <add key="nhibernate.config" value="~/nhibernate.config" />
    <add key="AppName" value="Permission Base 0.1.2" />
    <add key="Signature" value="NoMagic&#160;2006&#160;&#160;&#160;caikelun@hotmail.com" />
    <add key="MirrorTag" value="" />
  </appSettings>

  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpModules>
      <add name="NHHttpModule" type="PermissionBase.Core.NHHelper.NHHttpModule, PermissionBase.Core" />
    </httpModules>
    <authorization>
      <allow users="*" />
    </authorization>
    <authentication mode="Forms">
      <forms name="PermissionBaseAuth" loginUrl="Admin/Default.aspx" defaultUrl="Admin/Frameset/Main.aspx" timeout="30" />
    </authentication>
    <sessionState mode="InProc" cookieless="false" timeout="30" />
    <customErrors defaultRedirect="Admin_Others/error.htm" mode="RemoteOnly" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>

</configuration>
